@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.container {
  width: 1140px;
  margin: auto;
  /*background: #08cc0f;*/
}
.header {
  height: 100px;
  display: flex;
  align-items: center;
}
.logo {
  width: 165px;
  line-height: 51px;
  text-transform: uppercase;
  background: url("../img/logo.png") no-repeat;
  background-blend-mode: overlay;
  font-size: 27px;
  padding-left: 72px;
}
.logo span {
  color: #f16d7f;
  font-weight: 700;
}
.search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
}
.search__browse {
  padding: 14px;
  background-color: #f9f9f9;
  line-height: 38px;
  border: none;
  color: #7c7c7c;
  outline: none;
}
.search__browse i {
  color: #838383;
}
.header .search input {
  height: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4;
}
.header__cart {
  margin-left: auto;
  margin-right: 26px;
}
.header__account-bar {
  border: none;
  outline: none;
  width: 130px;
  line-height: 38px;
  background-color: #f16d7f;
  padding-left: 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}
.headerLine {
  border-bottom: 1px solid #ececec;
}
.topNav {
  height: 51px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topNav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}
.topNav a:hover {
  color: #f16d7f;
}
.topNav a:not(:last-child) {
  margin-right: 46px;
}
.topBanner {
  background-color: #e8e8e8;
  height: 665px;
}
.topBanner .top__slider {
  display: flex;
  background: url(../img/topHeaderBack.png) no-repeat 554px 0;
  background-size: 605px;
  height: 665px;
  align-items: center;
  background-position-x: right;
  line-height: 27px;
  overflow: hidden;
}
.topBanner .top__slider .vertical__line {
  margin-top: -80px;
  width: 12px;
  height: 85px;
  background-color: #f16d7f;
}
.topBanner .top__slider .top__slider__text {
  margin-top: -80px;
  padding-left: 10px;
  color: #222222;
  font-family: "Lato - Black";
  font-size: 40px;
  text-transform: uppercase;
  font-size: 54px;
  letter-spacing: 1px;
}
.topBanner .top__slider .top__slider__text div:first-child {
  font-weight: 900;
  font-size: 50px;
}
.topBanner .top__slider .top__slider__text div:last-child {
  font-weight: 400;
  font-size: 40px;
}
.topBanner .top__slider .top__slider__text div:last-child span {
  color: #f16d7f;
  letter-spacing: 1px;
}
.offer {
  padding-top: 98px;
  display: flex;
  flex-direction: column;
  height: 823px;
  flex-wrap: wrap;
  justify-content: center;
}
.offer__image {
  position: relative;
}
.offer__text {
  position: absolute;
  background-color: #ffffff;
  top: 25px;
  padding: 16px 18px;
  color: #222222;
  font-family: "Lato - Black";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.offer__text span {
  color: #f16d7f;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
}
.offer__text1 {
  width: 175px;
  height: 60px;
}
.offer__text2 {
  width: 225px;
  height: 60px;
}
.offer__text3 {
  width: 165px;
  height: 60px;
}
.offer__text4 {
  width: 180px;
  height: 60px;
}
.items__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.items__text span {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
.items__text p {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35px;
  padding: 0px;
  margin: 15px 0px 60px 0px;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items .item {
  margin-bottom: 40px;
}
.items .item .items__view {
  height: 84px;
  padding-left: 20px;
}
.items .item .items__view .items__name {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.items .item .items__view .items__price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item:hover img {
  background-color: rgba(0, 0, 0, 0.8);
}
.browse {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
}
.browse button {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 115px;
}
.banner__offer {
  display: flex;
}
.banner__offer .banner__image {
  position: relative;
  font-size: 32px;
  width: 768px;
}
.banner__offer .banner__image .banner__off {
  position: absolute;
  top: 146px;
  left: 39px;
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.banner__offer .banner__image .banner__off span {
  color: #f16d7f;
}
.banner__offer .banner__image .banner__off div:last-child {
  font-size: 32px;
}
.banner__offer .banner__text {
  background-color: #222224;
  display: flex;
  color: #fbfbfb;
  flex-direction: column;
  height: 529px;
}
.banner__offer .banner__text .banner__text__block {
  padding: 30px 30px 30px 110px;
}
.banner__offer .banner__text .banner__text__block:first-child {
  background: url(../img/banner_logo1.png) no-repeat 30px 30px;
}
.banner__offer .banner__text .banner__text__block:nth-child(2) {
  background: url(../img/banner_logo2.png) no-repeat 30px 30px;
}
.banner__offer .banner__text .banner__text__block:last-child {
  background: url(../img/banner_logo3.png) no-repeat 30px 30px;
}
.banner__offer .banner__text div:first-child {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.banner__offer .banner__text div:nth-child(2) {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.subcribe {
  margin-top: 100px;
  height: 440px;
  background: url(../img/supcribe_background.jpg) no-repeat center bottom;
  background-size: cover;
}
.subcribe .container {
  display: flex;
}
.subcribe .container .sub__review {
  display: flex;
  flex-direction: row;
  padding-top: 110px;
  width: 569px;
}
.subcribe .container .sub__review .sub__review__person {
  padding-right: 28px;
}
.subcribe .container .sub__review .sub__review__text {
  width: 390px;
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
}
.subcribe .container .sub__review .sub__review__text div:nth-child(2) {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato - Bold";
  letter-spacing: 0.4px;
  line-height: 26px;
}
.subcribe .container .sub__review .sub__review__text div:last-child {
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.subcribe .container .sub__line {
  width: 2px;
  height: 440px;
  background-color: #ffffff;
}
.subcribe .container .sub__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 569px;
  padding-top: 100px;
}
.subcribe .container .sub__form .sub__form__text div:first-child {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
  text-align: center;
}
.subcribe .container .sub__form .sub__form__text div {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 24px;
  text-align: center;
}
.subcribe .container .sub__form .sub__form__enter input {
  height: 50px;
  width: 280px;
  margin-right: -5px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: none;
  padding-left: 20px;
}
.subcribe .container .sub__form .sub__form__enter button {
  width: 100px;
  width: 104px;
  height: 50px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
}
.subcribe .container .sub__form .sub__form__enter button:hover {
  background-color: #ee4c62;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
footer .foot_wrapper {
  margin-top: 110px;
  width: 427px;
  height: 180px;
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
footer .foot_wrapper .foot__text1 {
  margin-top: 20px;
}
footer .foot_colum {
  margin-top: 120px;
  margin-bottom: px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  display: flex;
  flex-direction: column;
}
footer .foot_colum a {
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-decoration: none;
}
footer .foot_colum a:first-child {
  margin-top: 25px;
}
.copyright {
  margin-top: 100px;
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
}
.copyright .copyright__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  float: left;
}
.copyright .copyright__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.copyright .copyright__media a {
  padding: 10px;
  background-color: #ffffff;
  margin-right: 8px;
}
.copyright .copyright__media a:hover {
  background-color: #f16d7f;
}
.topArrivals {
  width: 100%;
  height: 148px;
  background-color: #f8f3f4;
}
.topArrivals .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
.topArrivals .container .topArriv {
  height: 18px;
  color: #f16d7f;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.topArrivals .container .topArriv__select {
  height: 11px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  /* Text style for "Home / Men" */
  color: #636363;
  font-family: "Lato Light";
  font-weight: 300;
  /* Text style for "New Arriva" */
  font-family: "Lato - Bold";
  font-weight: 700;
}
@width _product {
  min-width: 170px;
}
@width _colum {
  min-width: 80px;
}
.product__detail {
  height: 12px;
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
